<app-navigation></app-navigation>

<div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="https://uxawscdn.baozun.com/aws/96001096/20230509/D43D0D68AA67502BBE968D5E63DB6EB5_1.png?x-oss-process=image/resize,m_fill,h_492,w_392" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Рубаха</h5>
        <p class="card-text">1500 Руб</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://uxawscdn.baozun.com/aws/96001096/20230509/55C4CA960336B52308038A11D388E079_1.png?x-oss-process=image/resize,m_fill,h_492,w_392" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Рубаха</h5>
        <p class="card-text">1500 Руб</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://uxawscdn.baozun.com/aws/96001096/20230509/978845A6D247585F68C7F6AFB471D1C0_1.png?x-oss-process=image/resize,m_fill,h_492,w_392" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Рубаха</h5>
        <p class="card-text">1500 Руб</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://uxawscdn.baozun.com/aws/96001096/20230509/978845A6D247585F68C7F6AFB471D1C0_1.png?x-oss-process=image/resize,m_fill,h_492,w_392" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Рубаха</h5>
        <p class="card-text">1500 Руб</p>
      </div>
    </div>
  </div>
</div>
