<div class="">
  <div>
    <div class="row">
      <div class="col">
        <div class="row class-styles">
          <div class="col">
            <label for="formGroupExampleInput">фильтр</label>
          </div>
          <div class="col">
            <select class="form-control">
              <option>Размер</option>
              <option>Категория</option>
              <option>Цена</option>
            </select>
          </div>
          <div class="col">
            <select class="form-control">
              <option>48</option>
              <option>50</option>
              <option>52</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="row styles">
          <div class="col ">
            <label class="sort-style" for="formGroupExampleInput">сортировка</label>
          </div>
          <div class="col ">
            <select class="form-control">
              <option>Цена по возврастанию</option>
              <option>Цена по убыванию</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col" *ngFor="let product of getListProduct()">
    <div class="card h-100 cursor">
      <img src="{{ product.mainImage }}" class="card-img-top" (click)="openCard(product.id)">
      <div class="card-body">
        <div class="row align-items-start">
          <div class="col-10">
            <h5 class="card-title" (click)="openCard(product.id)">{{ product.name }}</h5>
            <p class="card-text" (click)="openCard(product.id)">{{ product.price }}</p>
          </div>
          <div class="col-2">
            <img src="{{ getLikeButton(product) }}" class="card-img-top nav-link-cursor" (click)="clickLike(product)">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
