<div class="card w-100" *ngFor="let product of getAllBaskets()">
  <div class="card-body">
    <div class="row">
      <div class="col-4">
        <img src="{{ product.mainImage }}" class="card-img-top nav-link-cursor w-75" (click)="openProduct(product.id)">
      </div>
      <div class="col-8">
        <h5 class="card-title" (click)="openProduct(product.id)">{{ product.name }}</h5>
        <p class="card-text my-4">{{ product.price }} руб</p>
        <p class="card-text my-4">{{ product.price }} руб</p>
        <a class="btn btn-primary cursor">Добавить</a>
        <a class="btn btn-primary cursor">Удалить</a>
      </div>
    </div>
  </div>
</div>
