<div class="row align-items-start">
  <div class="col-4">
    <img src="{{ getProduct().listImage[0] }}">
  </div>
  <div class="col-3 price-container">
    <p class="lead">
      {{ getProduct().name }}
    </p>
    <p class="lead my-4">
      Цена: {{ getProduct().price }}
    </p>
    <span class="lead my-4">Размеры: </span><span class="lead my-4" *ngFor="let size of getProduct().size">{{ size }} </span>
    <div class="d-grid gap-2 d-md-flex my-4">
      <button class="btn btn-outline-dark btn-lg" type="button">Купить</button>
      <button class="btn btn-outline-dark btn-lg" type="button">В избранное</button>
    </div>
  </div>
</div>
<div class="row align-items-start">
  <div class="col-8 text-start my-5">
    <p class="lead">
      Description
    </p>
    <p>{{ getProduct().description }}</p>
  </div>
</div>
