<div class="row align-items-start">
  <div class="col-4">
    <img src="{{ getProduct().listImage[0] }}">
  </div>
  <div class="col-4">
    <img src="{{ getProduct().listImage[1] }}">
  </div>
  <div class="col-4">
    <p class="lead">
      {{ getProduct().name }}
    </p>
    <p class="lead">
      Цена: {{ getProduct().price }}
    </p>
    <span class="lead">Размеры: </span><span class="lead" *ngFor="let size of getProduct().size">{{ size }} </span>
    <div class="d-grid gap-2 d-md-flex">
      <input class="btn-lg" type="number" id="countProduct" name="countProduct" min="1" max="5">
      <button class="btn btn-primary btn-lg" type="button">Купить</button>
    </div>
  </div>
</div>
<div class="row align-items-start">
  <div class="col-8 text-center">
    <p class="lead">
      Description
    </p>
    <p>{{ getProduct().description }}</p>
  </div>
</div>
