<div class="row my-4">
  <div class="col-md-8 mx-auto text-center">
    <a class="btn btn-primary cursor" (click)="openAddModal(content)">Добавить новый товар</a>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col" *ngFor="let product of getListProduct()">
    <div class="card h-100 cursor">
      <img src="{{ product.mainImage }}" class="card-img-top">
      <div class="card-body">
        <div class="row align-items-start">
          <div class="col-10">
            <h5 class="card-title">{{ product.name }}</h5>
            <h5 class="card-title">{{ product.brand }}</h5>
            <p class="card-text">{{ product.price }}</p>
          </div>
        </div>
        <div>
          <a class="btn btn-primary my-2 cursor" (click)="openModifyModal(content, product)">Изменить</a>
          <a class="btn btn-primary my-2 mx-2 cursor">Удалить</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Модальное окно -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ getTitle() }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="formGroupExampleInput">Наименование</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Поло" value="">
      </div>

      <div class="form-group">
        <label for="formGroupExampleInput">Бренд</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nike" value="">
      </div>

      <div class="form-group">
        <label for="formGroupExampleInput">Размеры</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="48, 50, 52, 54" value="">
      </div>

      <div class="form-group">
        <label for="formGroupExampleInput">Цена</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="1700" value="">
      </div>

      <div class="form-group">
        <label for="formGroupExampleInput">Категория</label>
        <select class="form-control">
          <option>Men</option>
          <option>Women</option>
          <option>Bags</option>
        </select>
      </div>

      <div class="form-group">
        <label for="formGroupExampleInput">Подкатегория</label>
        <select class="form-control">
          <option>брюки</option>
          <option>джинсы</option>
          <option>худи и свитшоты</option>
          <option>футболки и поло</option>
          <option>свитеры</option>
          <option>костюмы</option>
        </select>

        <!--<select>
    <option>платье и юбки</option>
    <option>костюмы</option>
    <option>брюки</option>
    <option>джинсы</option>
    <option>топы и майки</option>
    <option>худи и свитшоты</option>
    <option>свитеры</option>
  </select>-->

        <!--<select>
          <option>сумки через плечо</option>
          <option>верхние ручки</option>
          <option>сумки-хобо</option>
          <option>сумки</option>
          <option>мини-сумки</option>
          <option>портфели</option>
        </select>-->
      </div>

      <div class="form-group">
        <label for="formGroupExampleInput">Описание</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Что-то важное" value="" rows="5">
      </div>

      <div class="form-group">
        <label for="formGroupExampleInput">Главное изображение</label>
        <input type="file" class="form-control" id="formGroupExampleInput" placeholder="Поло" value="">
      </div>

      <div class="form-group">
        <label for="formGroupExampleInput">Первое изображение для страницы с товаром</label>
        <input type="file" class="form-control" id="formGroupExampleInput" placeholder="Поло" value="">
      </div>

      <div class="form-group">
        <label for="formGroupExampleInput">Второе изображение для страницы с товаром</label>
        <input type="file" class="form-control" id="formGroupExampleInput" placeholder="Поло" value="">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary buttonModalAdd" (click)="modal.close('Close click')">Сохранить</button>
  </div>
</ng-template>
